{% extends "layout.html" %}
{% from "owner/nav_bar.html" import nav_bar %}
{% block body %}
{% if (( current_user.is_authenticated ) and (current_user.restaurantId|string == restaurantId)) %}
<div>
    Kirjautunut nimellä {{ current_user.name }}. <a href="{{ url_for('auth_logout') }}">Kirjaudu ulos</a>
</div>
{{nav_bar(restaurantId)}}
{% elif not (current_user.is_authenticated)%}
<p>
    You need to log in to manage the menu of your restaurant. <a href="/login">Login here</a>
</p>
{% elif not (current_user.restaurantId|string == restaurantId) %}
<p>
    You can only view your own restaurant's menu items.
</p>
{% endif %}
{% endblock %}