{% macro nav_bar(restaurantId) %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    {% if (restaurantId != 0) %}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav" style="margin:auto; padding:1em;">
            <li class="nav-item active">
                <a class="nav-link" href="{{ '/manager/orders/' + restaurantId }}">
                    Manage Orders
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ '/manager/menu/' + restaurantId }}">
                    Manage Menu Items
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ '/manager/info/' + restaurantId }}">
                    Manage Restaurant Info
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li>
                <a href="{{ url_for('auth_logout') }}">
                    <button class="btn btn-danger">
                        Log out
                    </button>
                </a>
            </li>

        </ul>
    </div>
    {% else %}
    <a class="navbar-brand" href="{{ '/login' }}">Login</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    {% endif %}
</nav>

{% endmacro %}