{% extends "layout.html" %}
{% from "owner/nav_bar.html" import nav_bar %}
{% block body %}
{% if (( current_user.is_authenticated ) and (current_user.restaurantId|string == restaurantId)) %}
{{nav_bar(restaurantId)}}
<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Time of order</th>
                <th scope="col">Customer Name</th>
                <th scope="col">Customer Address</th>
                <th scope="col">Customer Phone</th>
                <th scope="col">Order total</th>
                <th scope="col">Order items</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td>{{ order.date_created }}</td>
                <td>{{ order.name }}</td>
                <td>{{ order.address }}</td>
                <td>{{ order.phone }}</td>
                <td>{{ order.price }}€</td>
                <td>{{ order.returnableItems }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% elif not (current_user.is_authenticated)%}
<p>
    You need to log in to view the orders of your restaurant. <a href="/login">Login here</a>
</p>
{% elif not (current_user.restaurantId|string == restaurantId) %}
<p>
    You can only view your own restaurant's orders.
</p>
{% endif %}
{% endblock %}