{% extends "layout.html" %}

{% block body %}
<div id="menu" text="BOO"/>
<script>
  async function getJson(url) {
    let response = await fetch(url)
    let data = await response.json()
    console.log("URL")
    console.log(url)
    console.log("RESPONSE")
    console.log(response)
    console.log("DATA")
    console.log(data)
    return data
  }
  async function populateMenu() {
    const url = "http://localhost:5000/api/menus/1"
    let menu = await getJson(url)
    console.log("MENU")
    console.log(menu)
  }
  populateMenu()
</script>
{% endblock %}