{% extends "layout.html" %}

{% block body %}
{% if current_user.is_authenticated %}
<div>
    Kirjautunut nimellä {{ current_user.name }}. <a href="{{ url_for('auth_logout') }}">Kirjaudu ulos</a>
</div>
<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Time of order</th>
                <th scope="col">Customer Name</thscope="col">
                <th scope="col">Customer Address</th>
                <th scope="col">Customer Phone</th>
                <th scope="col">Order total</th>
                <th scope="col">Order items</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td>{{ order.date_created }}</td>
                <td>{{ order.name }}</td>
                <td>{{ order.address }}</td>
                <td>{{ order.phone }}</td>
                <td>{{ order.price }}€</td>
                <td>{{ order.returnableItems }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<p>
    You need to log in to view the orders of your restaurant. <a href="/auth/login">Login here</a>
</p>
{% endif %}
{% endblock %}